.projectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 2vh;
    padding-left: 6vw;
    padding-right: 6vw;
}

.projectSide {
    width: 40%;
    margin-right: 2%
}

.title2 {
    max-width: 400px;
    min-width:100px;
}

.projectsGrid {
    width: 58%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projectPic {
    object-fit: cover;
    width: 20vw;
    height: 20vw;
    margin: 2vmin;
    border-radius: 3px 3px;
    border: 2px solid transparent;
}

.projectPic:hover {
    border-color: #fff;
    transition: 1000ms;
}

.infoText {
    margin-top: 2vh;
}

.projectTitle {
    color: #c18372;
    font-family: "Cako";
    font-size: min(3vw, 3vh);
    text-align: left;
    padding-bottom: 1vh;
}

.projectDescription {
    color: #ccc;
    text-align: left;
    font-size: min(2.5vw, 2.5vh);
}

/* notes for image sizing 
    ratio for 1 col: 500/931 to 
*/

@media only screen and (min-aspect-ratio: 11/9){
    .projectPic{
        width: 20vw;
        height: 20vw;
    }
}

@media only screen and (min-aspect-ratio: 19/9){
    .projectPic{
        width: 10vw;
        height: 10vw;
    }
}

@media only screen and (min-aspect-ratio: 3/1){
    .projectPic{
        width: 10vw;
        height: 10vw;
        margin: 3vmin;
    }
    .projectDescription{
        font-size: .8vw;
    }
    .projectTitle{
        font-size: 1vw;
    }
}

@media only screen and (max-aspect-ratio: 7/10){
    .projectPic{
        width: 19vh;
        height: 19vh;
    }
}