.aboutContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 6% 10%;
}

.leftCol {
    /* width: 50%; */
    padding-left: min(4%, 100px);
    align-content: center;
    vertical-align: middle;
    margin-right: 60px;
}

.rightCol {
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    
  }

.title {
    display: block;
    width: 60vmin;
    max-width: 500px;
}


.bio {
    margin-top: 2vh;
    float: left;
    color: #CCC;
    position: relative;
    font-size: min(2.5vw, 2.5vh, 26px);
    border: 2px solid #fff;
    border-radius: min(1vw,5px);  
}

.bioText {
    padding: min(60px, 6%);
    border-radius: min(1vw,5px);
    margin-bottom: min(20px, 2vh);
    text-align: left;
    padding-top: 10px;
    padding-bottom: 0;
}

.bioTextContainer {
    margin: 0px;
}

.bioTextContainer a {
    text-decoration: none;
    color: #f3e5b6;
    font-weight: bold;
}

.profilePic {
    width: 70%;
    height: auto;
    margin-right: 15%;
    border-radius: min(1vw,5px);
}

.btn {
    /* display: block;
    margin: 0 auto; */
    color: #fff;
    background-color: #c18372;
    border: 2px solid #c18372;
    font-weight: bold;
    border-radius: min(1vw,5px);
    font-size: 14px;
    line-height: 14px;
    padding: min(.5vw,.5vh);
    text-decoration: none;

}

.resumeBtn {
    text-align: center;
}

.btn:hover {
    transition: 1000ms;
    background-color: #FFF;
    color: #c18372;
}

.linkRow {
    display: flex;
    height: 25px;
    justify-content: space-between;
    margin-top: min(17px, 2.5vh);
}

.icn {
    width: 25px;
    height: 25px;
}

.subtn {
    fill: #fff;
}

.subtn:hover {
    transition: 1000ms;
    fill: #c18372;    
}


