.aboutContainer {
}

.rightCol {
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    padding-top: min(5vh,100px);
    padding-left: min(4%, 100px);
}

.leftCol {
    height: 100%;
  }

.title {
    display: inline-block;
    width: 100%;
}

.title span {
    font-family: 'Cako';
    font-weight: normal;
    color: white;
    float: left;
    text-align: left;
    font-size: min(16vw, 16vh);
    margin: 0;
    line-height: min(13vw, 13vh);
    /* text-shadow: 2px 2px #ff0000; */
}

.bio {
    margin-top: 2vh;
    float: left;
    color: #999;
    padding-left: min(20%, 50px);
    position: relative;
    font-size: min(2vw, 2vh);
}

.bioText {
    background-color: #fff;
    padding: min(20px, 3%);
    border-radius: min(1vw,5px);
    max-width: 1200px;
    max-height: 500px;
    box-shadow: 5px 5px 10px #ccc;
    margin-bottom: min(20px, 2vh);
}

.bioTextContainer {
    margin: 0px;
}

.profilePic {
    max-height: 80vh;
    max-width: 45%;
    float: right;
    margin-right: 8%;
    box-shadow: 5px 5px 10px #ccc;
    border-radius: min(1vw,5px);
}

.btn {
    display: block;
    margin: 0 auto;
    color: #fff;
    background-color: #f0d6c8;
    border: 2px solid #f0d6c8;
    font-weight: bold;
    border-radius: min(1vw,5px);
    font-size: min(2vw, 2vh);
    padding: min(1vw,1vh);
    box-shadow: 5px 5px 10px #ccc;
    text-decoration: none;
}

.resumeBtn {
    margin-bottom: min(25px, 2vh);
}

.btn:hover {
    transition: 1000ms;
    background-color: #FFF;
    color: #f0d6c8;
}

.linkRow {
    display: block;
    height: auto;
    margin: min(20px, 10vh);
    justify-content: space-between;
}

.subtn {
    display: inline-block;
    width: 10vw;
    background-color: #fff;
    color: #f0d6c8;
    border: 2px solid #f0d6c8;
    margin-left: 2%;
    margin-right: 2%;
}

.subtn:hover {
    transition: 1000ms;
    color: #FFF;
    background-color: #f0d6c8;    
}
